<div class="col-xs-12">
  <div class="page-header">
    <h2>アカウント情報</h2>
  </div>
</div>

<div class="col-xs-12">
  <p>
    <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %>
  </p>
  <p>
    <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %>
  </p>
</div>
